/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27.1.2017, 18:07:54
    Author     : Ondra
*/



.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane 
{
    -fx-tab-min-width:120px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
    
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:hover
{
    -fx-background-color: #c6c6c6;
    -fx-cursor: hand;
}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
    -fx-cursor: default;
}


.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #e5ff00;
}

/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/


#mainPane{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 200%, repeat, #a3a3a3 0%, #ffffff 80%);
}

#myGame :hover{
    -fx-background-color: #2a2a2a;
    -fx-cursor: hand;
}

#fancytext {
    -fx-font: 23px Tahoma;
    -fx-text-fill: #00fff2;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}



#GamePaneInTab{
    -fx-background-color:#3c3c3c;
    -fx-background-radius: 6 6 6 6;
}